@import "tailwindcss";

:root {
  --background: #1A1A1D;
  --text-primary: #E5E5E5;
  --text-secondary: #ADA7A7;
  --accent-color: #06898F;
  --surface-color: #0B0B0E;
  --green: #00A97A;
}

@theme inline {
  --color-background: var(--background);
  --font-sora: var(--font-sora);
  --font-manrope: var(--font-manrope);
  --color-default: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-accent: var(--accent-color);  
  --color-surface: var(--surface-color);
  --color-green: var(--green);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation-name: marquee;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.marquee-container:hover .animate-marquee {
  animation-play-state: paused;
}

@keyframes placeholderFade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-placeholder::placeholder {
  animation: placeholderFade 0.5s ease-in-out;
}