@import "tailwindcss";

:root {
  --background: #1A1A1D;
  --text-primary: #E5E5E5;
  --text-secondary: #ADA7A7;
  --accent-color: #06898F;
}

@theme inline {
  --color-background: var(--background);
  --font-sora: var(--font-sora);
  --font-manrope: var(--font-manrope);
  --color-default: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-accent: var(--accent-color);  
}